<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Home</title>
</head>
<body>
    <nav id="navigation">

        <div>
        <!---    <h1 id="logo"><a href="/routes/">PlagChecker</a></h1> -->
        </div>
   
        
        <div id="links">
   
           <ul>
         <!-----   <li> WELCOME </li>
               <li> <a href="/users/login">SIGN IN </a></li>-->
            </ul>
            </div>
       
           <!---- <button id="signUpbutton"><a href="/users/login">SIGN UP</a></button> -->
   
       </nav>

    <!---main content-->

    <main>

     <header>

        <div id="textContent">
            <h1>Plagchecker: Your Ultimate Tool for Original Writing</h1>
            <p>Plagchecker is a powerful app that helps you ensure originality in your writing. With its advanced technology, the app quickly detects any instances of plagiarism, enabling you to make necessary revisions and submit work with confidence.
             Use Plagchecker to ensure academic integrity and produce original, high-quality writing.</p>
      
        </div>

        <div id="imageDiv">
         <img src="/images/plagiarism.png" id="pic">
        </div>
     </header>



     <div id="textFormDiv">

        <form  enctype="multipart/form-data" action="/routes/check_text" method="POST" id="textForm" >
            <h1> Originality is key. Check your work</h1>
 
        <div class="form-group">
          <label for="file1">File 1:</label>
          <input type="file" id="file1" name="file1" >
        </div>
        <div class="form-group">
          <label for="file2">File 2:</label>
          <input type="file" id="file2" name="file2">
        </div>
      
        <button type="submit" class="buttons">Check for plagiarism </button>
      </form>

   

    </div> 
   
    <div id="resultField">
     
     <h1></h1>

        </div>
     


        
    </main>

    <footer>
       
        <div>
            <h1 id="logo">PlagChecker</h1>
              </div>
         
          
              
              <div id="links">
         
              <ul>
              <!-----  <li> <a href="">NIGHT MODE </a> </li>
                 <li> <a href="">SIGN IN </a></li> --->
              
              </ul>
              
              </div>
            <!---  <button id="footerButton">SIGN UP</button> --->
            <p>&copy2023 PlagChecker Ltd.</p>
       
        
      </footer>
      
      <script src="js/script.js"></script>
    
</body>
</html>